# Python environment
.venv
venv/
ENV/
.env
.idea/

# Allure results
allure-results/

# Common cache and temporary files
__pycache__/
*.py[cod]
*$py.class

# Temp
/tmp
*.log

# allure zips
*.zip

.DS_Store