allure-pytest
allure-python-commons
#attrs==24.2.0
#certifi==2024.8.30
#charset-normalizer==3.4.0
#greenlet==3.1.1
#idna==3.10
#iniconfig==2.0.0
#packaging==24.2
playwright
#pluggy==1.5.0
#pyee==12.0.0
pytest
#pytest-base-url==2.1.0
pytest-playwright
#pytest-split==0.10.0
#python-slugify==8.0.4
requests
#text-unidecode==1.3
#typing_extensions==4.12.2
urllib3
